minimization_output/*.csv
minimization_output/**/*.csv
minimization_output/**/*.xyz
/telegram_notify.py

results/Long_sim/my_simulation_pos_clusters.html 


results/**/*.xyz
results/**/*.npy
results/**/*.dat
results/**/*.csv
results/**/*.html
